<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hobbies</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
 <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> 

    <style>

body {
            background-color: #f8f8f8; 
        }

        .navbar {
            background-color: #333;
        }

        .navbar-link {
            color: #fff; 
        }

        .main-photo {
            max-width: 400px;
            margin-right: 20px;
        }

        .card {
            background-color: #fff; 
            border: 1px solid #ccc; 
        }

        .card-title {
            color: #333; 
        }

        .card-text {
            color: #555; 
        }

        .footer {
            background-color: #333; 
        }

        .btn-social-icon i {
            font-size: 40px;
            color: #fff; 
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../views/home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../views/hobbies.html">Hobbies</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="../views/projects.html">Projects</a>
              <ul class="dropdown-menu">
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item">
              <li><a class="dropdown-item" href="#"></a></li>
            </li>
          </ul>

          <div class="ms-auto">
            <img src="../resources/img/r2d2.jpeg" width="70px" />
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="hobbies" class="mt-5">
        <h1>My Hobbies</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="card" id="hobby-card-1">
              <img src="../resources/img/hobby1.jpeg" class="card-img-top" alt="Hobby 1 Image">
              <div class="card-body">
                <h5 class="card-title">Computer</h5>
                <p class="card-text">Computers became interesting during my school years. Now I study, experiment with technology, and code for personal enjoyment and growth. Studying computer science aligns perfectly with my hobby of computers, providing a structured way to learn and understand the digital realm. </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" id="hobby-card-2">
              <img src="../resources/img/hobby2.jpeg" class="card-img-top" alt="Hobby 2 Image">
              <div class="card-body">
                <h5 class="card-title">Lego</h5>
                <p class="card-text">My journey into the world of LEGO as a hobby started in adulthood, inspired by beloved movie franchises like Harry Potter and Star Wars. These iconic building sets rekindled my passion for imaginative play and construction, making it a joyful and fulfilling pastime. LEGO is a way to relax from work and school.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" id="hobby-card-3">
              <img src="../resources/img/hobby3.jpeg" class="card-img-top" alt="Hobby 3 Image">
              <div class="card-body">
                <h5 class="card-title">Travel</h5>
                <p class="card-text">My passion for travel began during my school years when my parents took me to Egypt, marking the beginning of a love for exploring new places and cultures. Since then, I've had visited countries like Canada, Colombia, Costa Rica, Mexico, Turkey, and others, all of which have enriched my life with diverse experiences and unforgettable memories.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer fixed-bottom" id="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <a href="https://www.facebook.com" class="btn btn-social-icon btn-facebook"><i class="fab fa-facebook"></i></a>
                  <a href="https://twitter.com" class="btn btn-social-icon btn-twitter"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com" class="btn btn-social-icon btn-instagram"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
