<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yuliia's Resume</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-4xl font-bold">Yuliia Piguliak</h1>
      <a href="home.html" class="text-blue-600 hover:text-blue-800 text-lg">Home</a>
    </div>

    <div id="resume" class="bg-white p-6 shadow rounded-lg">
      <h2 class="text-2xl font-semibold mb-4">Education</h2>
      <table class="w-full mb-6">
        <thead>
          <tr>
            <th class="text-center font-bold"></th>
            <th class="text-center font-bold">CGPA</th>
            <th class="text-center font-bold">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>University of Colorado, Boulder</td>
            <td class="text-center">3.9</td>
            <td class="text-center">2023</td>
          </tr>
          <tr>
            <td>Colorado Mountain College, Breckenridge</td>
            <td class="text-center">4.0</td>
            <td class="text-center">2022</td>
          </tr>
        </tbody>
      </table>
      <hr class="my-4">
      <h2 class="text-2xl font-semibold mb-4">Experience</h2>
      <table class="w-full mb-6">
        <thead>
          <tr>
            <th class="text-center font-bold"></th>
            <th class="text-center font-bold">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-semibold">Net Health</td>
            <td class="text-center">Dec, 2022</td>
          </tr>
          <td>Creating and executing comprehensive test cases and cycles, covering Functional, Regression, End-to-End, and GUI testing for both mobile applications and REST API projects, utilizing tools like SQL queries, Jira ticket tracking, and Chrome DevTools to identify, document, and track defects, ensuring software integrity and quality while collaborating closely with stakeholders and customer support to prioritize and address issues efficiently.
          </td>
          <tr>
            <td class="font-semibold">Careficient, Inc</td>
            <td class="text-center">Jul, 2023</td>
          </tr>
          <td>Conducting thorough testing of Single Sign-On (SSO) login functionality, ensuring seamless authentication across different user scenarios. Verify integration with identity providers, validate successful and failed login attempts, and assess session management and logout functionality</td>
        </tbody>
      </table>
      <hr class="my-4">
      <h2 class="text-2xl font-semibold mb-4">Volunteer Experience</h2>
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-center font-bold"></th>
            <th class="text-center font-bold">Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-semibold">Test Pro</td>
            <td class="text-center">2021</td>
          </tr>
          <td>Coordinating team activities, provide guidance to members, and ensure project success through effective communication and collaboration.
          </td>
        </tbody>
      </table>
      
    </div>
  </div>
</body>
</html>
